body {
  font-family: 'Dancing Script', cursive;
font-family: 'Gloria Hallelujah', cursive;
    margin-top: 75px;
  padding: 20px;
  background: #fafafa;
  position: relative;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
